.incoming-dialog {
    width: 320px;
    text-align: center;
    border-radius: 30px;
    background: var(--mobile-surface-1);

    .fm-dialog-body {
        padding: 28px;
    }

    button.close {
        top: 16px;

        i {
            opacity: 1;
            --mask-color: var(--mobile-icon-primary);
        }
    }

    &-avatar {
        width: 120px;
        height: 120px;
        margin: 20px auto 24px;

        .avatar-wrapper {
            position: relative;
            width: 100%;
            height: 100%;
            border-radius: 50%;

            span {
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 40px;
            }

            img {
                width: 100%;
                height: 100%;
            }
        }

        .user-card-verified {
            display: none;
        }
    }

    &-info {
        /* [...] */

        h1,
        span {
            margin: 0;
            color: var(--text-color-high);
        }

        h1 {
            display: block;
            text-overflow: ellipsis;
            white-space: nowrap;
            font: var(--text-h1);

            span {
                font: var(--text-h1);
                color: var(--mobile-text-primary);
            }
            .emoji {
                width: 24px;
                height: 24px;
            }
        }

        span {
            font: var(--text-body1);
            color: var(--mobile-text-secondary);
        }
    }

    &-controls {
        margin: 28px 0 0;

        &.call-in-progress {
            display: flex;
            justify-content: space-evenly;
            margin: 28px 16px 0;

            .switch-button {
                /* [...] */

                &-container {
                    overflow: hidden;
                    position: relative;
                    width: 70px;
                    height: 70px;
                    margin: 0 auto;

                    .switch {
                        position: absolute;
                        left: 0;

                        &.positive {
                            top: 20px;
                            left: 20px;
                        }
                    }
                }
            }
        }

        button {
            display: inline-flex;
            margin: 0 32px 0 0;
            justify-content: center;

            &.nav-elem.icon-only {
                height: 40px;
                &:not(.answer) {
                    border-radius: 100%;
                    width: 40px;
                }

                &.negative {
                    background: var(--mobile-button-brand);
                }

                &:hover,
                &:active {
                    background: var(--mobile-button-primary-pressed);
                }
                &.secondary:hover,
                &.secondary:active {
                    background: var(--mobile-button-secondary-pressed);
                }
                &.negative:hover,
                &.negative:active {
                    background: var(--mobile-button-brand-pressed);
                }
            }

            &:last-child { margin: 0; }

            &.answer {
                width: 120px;
                border-radius: 24px;
            }

            &.video {
                /* [...] */

                i { --mask-color: var(--mobile-icon-primary); }
            }

            i {
                --mask-color: var(--mobile-icon-inverse);
            }

            &.negative i {
                --mask-color: var(--mobile-icon-on-color);
            }
        }
    }

    &-unsupported {
        margin: 16px -16px -16px -16px;
        border-radius: 20px;
        background: var(--secondary-orange);

        .unsupported-message {
            padding: 12px;
            text-align: left;
            font: var(--text-body1);
            color: var(--secondary-white);
        }
    }
}
