/*
 * Links styling
*/

a,
a:focus,
a:link,
a:visited,
a:hover,
a:active {
    outline: none; /* TODO: Add custom focus */
}

.link,
a.link,
a.link:visited {
    color: var(--main-neutral-secondary);
    cursor: pointer;
    text-decoration: underline;
}

.link.primary,
a.link.primary,
a.link.primary {
    color: var(--main-primary);
}

.link.n-primary,
a.link.n-primary,
a.link.n-primary {
    color: var(--main-neutral-primary);
}

.link.sm-size,
a.link.sm-size {
    font: var(--text-body-sm);
}

.link.xs-size,
a.link.xs-size {
    font: var(--text-btn-sm);
}

.link.bold,
a.link.bold {
    font-weight: 700;
}

.link:focus,
a.link:focus {
    text-decoration: none;
}


/* States */

/* States. Hover state. Only for non-touch devices. */

@media (hover: hover) {

    .link:hover,
    a.link:hover {
        text-decoration: none;
    }

}


/* Expandable link type */

.link.expandable {
    align-items: center;
    display: flex;
    text-decoration: none;
}

.link.expandable span {
    color: var(--main-neutral-primary);
    max-width: 0;
    opacity: 0;
    overflow: hidden;
    transition: var(--transition-all);
    transition-duration: .4s;
    white-space: nowrap;
}

/* Expandable link type.States */

/* Expandable link type. States. Focused state. */

.link.expandable:focus span {
    max-width: 200px;
    opacity: 1;
    padding: 0 8px;
    padding-inline-start: 4px;
}


/* Expandable type link. States. Hover state. Only for non-touch devices. */

@media (hover: hover) {

    .link.expandable:hover span {
        opacity: 1;
        max-width: 200px;
        padding: 0 8px;
        padding-inline-start: 4px;
    }

}


/* Link type label */

label.link span {
    text-decoration: underline;
}

label.link input:focus + span {
    text-decoration: none;
}


/* Link type label. States */

/* Link type label. States. Hover state. Only for non-touch devices. */

@media (hover: hover) {

    label.link:hover span {
        text-decoration: none;
    }

}
